*.DS_Store
*.class
*.smap
*.properties
*.metadata/
*.settings/
web/META-INF/context.xml
*.buildpath
*.project
*.externalToolBuilders
Reminiscens-booklet/bin/
Reminiscens-booklet/build/
java-crawler/build/
